@import 'https://fonts.googleapis.com/css?family=Dosis:300,400|Rozha+One|Shrikhand';

$title-one: 'Shrikhand', cursive;
$title-two: 'Rozha One', serif;;
$paragraphs: 'Dosis', sans-serif;; //light 300 reg 400